doctype html
html
    head
        title Yelp Camp
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/main.css")
        
    body
        nav(class="navbar navbar-default")
            .container-fluid
                .navbar-header
                    a(class="navbar-brand",href="/") YelpCamp
                .collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        if(!currentUser)
                            li: a(href="/login") Login
                            li: a(href="/register") Sign Up
                        else
                            li: a(href="#") Signed In as #{currentUser.username}
                            li: a(href="/logout") Logout
        
        .container
            if(error && error.length >0)
                div(class="alert alert-danger" role="alert") #{error}
            if(success && success.length>0)
                div(class="alert alert-success" role="alert") #{success}