include header.pug

h1 Login

form(action="/login" method="POST")
    input(type="text" name="username" placeholder="username")
    input(type="password" name="password" placeholder="password")
    input(type="submit" value="Login!")

include footer.pug